# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://docker:docker@localhost:5432/delivery?schema=public"
DATABASE_URL_TEST="postgresql://docker:docker@localhost:5432/delivery_test?schema=public"
SECRET_KEY_DELIVERYMAN="019acc25a4e242bb55ad489832ada12d"
SECRET_KEY_CLIENT="019acc25a4e242bb55ad489832ada12d"
